<div class="main-page">
    <h1>OFFLINE</h1>
    <div class="iframe-container">
        <iframe class="iframe" id="white" scrolling="no" [src]="IframeUrl" (load)="onloadIframe($event)"></iframe>
        <iframe class="iframe" id="black" scrolling="no" [src]="IframeUrl" (load)="onloadIframe($event)"></iframe>
    </div>
    

    <div class="btn-group">
        <button class="btn btn-primary" (click)="newGame()">New Game</button>

        <!-- <button class="btn btn-primary" (click)="resumeGame()" [disabled]="disabled">Resume Game</button> -->
    </div>
</div>

