.main-page {
  text-align: center;
}

.chess-board-container {
  justify-content: space-between;
}

.iframe-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  border: grey 1px solid;
  width: 100%;
  height: 100%;
}